.callout {
	padding: 1em;
}

.callout-title {
  line-height: 0em;
  border-bottom: 1.5px solid lightgray;
  padding-bottom: 0.8em;
  
}

.inline-embed {
  margin-top: -1em !important;
}

.inline-embed[alt=p] {
  margin-top: -1.7em !important;
}

.inline-embed[alt=q] {
  margin-top: -2.5em !important;
  margin-bottom: -1.5em !important;
}


.inline-embed .markdown-embed-content .callout-content {
  margin-top: 0.5em !important;
}

.inline-embed .markdown-rendered .callout{
  margin-top: 0em !important;
  margin-bottom: 0em !important;
}

.inline-embed .markdown-embed-content .callout[data-callout="lemma"]{
  --callout-color: 190,41,236;
}

.inline-embed .markdown-embed-content .callout[data-callout="outlook"]{
  --callout-color: 150,41,236;
}


.inline-embed .markdown-embed-content .callout[data-callout="h"]{
  --callout-color: 100,41,256;
}

.callout-content {
  padding-top: 0px;
  margin-top: -0.5em;
  line-height: 1.2em;
  /* border-top: 1.5px solid lightgray; */
}

img {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
}
    
 .markdown-source-view.mod-cm6 .cm-content > * {
        margin: auto auto !important;
}

.markdown-rendered ol {
  margin-block-start: -0.8em;
}

.callout{
--callout-color: 40,0,256;
--callout-content-padding: 0px;
--callout-border-width: 0px;
line-height: 1em;
padding-top: 1.2em;
padding-bottom: 0.2em;
margin-bottom: 1.2em;
}



.callout[data-callout="definition"] {
--callout-color: 110, 110, 110;
}

.callout[data-callout="def"] {
  --callout-color: 110, 110, 110;
  --callout_title: "definition";
  }

.callout[data-callout="example"] {
  --callout-color: 40,0,256;
  }

.callout[data-callout="lemma"] {
--callout-color: 126,29,251;
}

.callout[data-callout="outlook"] {
  --callout-color: 126,100,101;
  }

.callout[data-callout="a"] {
  margin-top: -1em;
  line-height: 1em;
--callout-color: 150, 150, 150;
}

.callout[data-callout="proof"] {
  margin-top: -1em;
  line-height: 1em;
--callout-color: 150, 150, 150;
}

.callout:is([data-callout="proof"]) .callout-title{
  border-bottom: none;
} 

.callout.is-collapsible .callout-title {
  border-bottom: none;
}

.callout-icon {
  display: none;
}

.callout-fold{
  margin-top: -0.65em;
  margin-bottom: -0.4em;
  --callout-title-border-bottom: none;
}

hr {
  margin: -0.5rem 0;
}

.inline-embed[alt=hihi] .markdown-embed-content  .callout{
  --callout_title: "alt" !important;
}