.markdown-preview-view hr, hr{
  display: block;
  height: 0px;
  border: 0;
  border-top: 2px solid #d6d6d6;
  margin: 0em 0;
}

.callout {
	padding: 1em;
  --callout-color: 40,0,256;
  --callout-content-padding: 0px;
  --callout-border-width: 0px;
  line-height: 1em;
  padding-top: 1em;
  padding-bottom: 0em;
  margin-bottom: 0.4em;
  margin-top: 0.4em;
}

.callout-title {
  line-height: 0em;
  border-bottom: 1.5px solid lightgray;
}

.callout-title .callout-title-inner {
  line-height: 0em;
  padding-top: 0.2em;
  padding-bottom: 0.8em;
}

.callout-content {
  padding-top: 0px;
  margin-top: 0em;
  line-height: 1.2em;
  /* border-top: 1.5px solid lightgray; */
}

.callout-fold{
  /* margin-top: -0.65em;  */
  margin-top: 0em; 
  /* margin-bottom: -0.4em; */
  margin-bottom: 0em;
  --callout-title-border-bottom: none;
}

.callout[data-callout="proof"] {
  margin-top: -0.2em;
  margin-bottom: 0.4em;
  line-height: 1em;
--callout-color: 150, 150, 150;
}

img {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
}
    
.markdown-rendered ol {
  margin-block-start: -0.8em;
}




.callout[data-callout="definition"] {
--callout-color: 110, 110, 110;
}

.callout[data-callout="def"] {
  --callout-color: 110, 110, 110;
  --callout_title: "definition";
  }

.callout[data-callout="example"] {
  --callout-color: 40,0,256;
  }

.callout[data-callout="lemma"] {
--callout-color: 126,29,251;
}

.callout[data-callout="a"] {
  margin-top: -1em;
  line-height: 1em;
--callout-color: 150, 150, 150;
}

.callout:is([data-callout="proof"]) .callout-title{
  border-bottom: none;
} 

.callout.is-collapsible .callout-title {
  border-bottom: none;
}

.callout-icon {
  display: none;
}



hr {
  margin: -0.5rem 0;
}

/*
    clean-embeds.css snippet

    Removes title, link, padding, margins from embeds,
    so they really look like the same note.

    To be used with `cssclass: clean-embeds` in YAML frontmatter.

    2021-08-24 Matthias C. Hormann (Moonbase59)

    TODO: Find out how to correct PDF export. L/R margins & vspace too large on embeds.
*/

